.homepage{
    margin-top: 5%;
    text-align: center;
    color: #f4f1de;
}

#homepage-paper{
    background-color: #f4f1de;
    color: #264653;
    padding: 2% 0 2% 0;
    position: relative;
    top: 0;
    transition: top ease 0.3s;
}

#homepage-paper:hover{
    top: -5px;
}

.paper-row{
    margin-top: 13%;
}