.picture {
    border-radius: 2px;
    height: 200px;
    overflow: auto;
}

.picture-table{
    margin-top: 2%;
}

.picture-container{
    background-color: #f4f1de;
    display: inline-block;
}

.grid-item{
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.grid-item:hover{
    top: -5px;
}